.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #6c6c6c;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  width: 508px;
  margin: auto;
  margin-top: 10px;
}

.todo__actions {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.todo__delete {
  color: #7a7a7a;
  background-color: #b50000;
  color: aliceblue;
}

.btn {
  border-radius: 12px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 14px;
}

.todoTitle_container {
  display: flex;
}
