.button {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  background: #003595;
  color: #fff;
  width: 140px;
  margin-left: 2%;
  height: 46px;
  border-radius: 12px;
  border-color: transparent;
}
