@font-face {
  font-family: "iranSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/fonts/iranSans/IRANSansRegular.woff2) format("woff2");
}

html {
  font-family: "iranSans", system-ui, sans-serif;
}
